body {
    font-family: Arial, Helvetica, sans-serif;
}
#overall {
    vertical-align: center;
    background-color: #CCCCCC;
    margin-left: 8%;
    margin-right: 8%;
}
#map-canvas {
    width: 650px;
    height: 600px;
    float: left;
    margin : 0 auto;
}
#info-pane {
    height: 600px;
    overflow: scroll;
    overflow-y: scroll;
}
.event {
    padding: 2%;
    background-color: #F5F5F5;
    margin: 5%;
}
